= render 'layouts/sellheader'
.signup-view
  .signup-view-block
    .signup-view-block__form_1
      会員情報入力
    .signup-form
      = form_for(@create_user, url: create_user_registration_path) do |f|
        = devise_error_messages!
        .signup-form__label
          = f.label :nickname
        %span.signup-form__span
          必須
        %br
        = f.text_field :nickname, class: 'signup-form__login-input', placeholder: "例)フリマ太郎"
        .signup-form
        .signup-form__label
          = f.label :email
        %span.signup-form__span
          必須
        %br
        = f.email_field :email, class: 'signup-form__login-input', placeholder: "PC・携帯どちらでも可"

        .signup-form
          .signup-form__label
            = f.label :password
          %span.signup-form__span
            必須
          %br
          = f.password_field :password, autocomplete: "off", class: 'signup-form__login-input', placeholder: "７文字以上の半角英数字"

        .signup-form
          .signup-form__label
            = f.label :password_confirmation
          %span.signup-form__span
            必須
          %br
          = f.password_field :password_confirmation, autocomplete: "off", class: 'signup-form__login-input', placeholder: "７文字以上の半角英数字"

        %br
        .signup-form__pass-text

        .signup-form
          %input.signup-form__password-open-btn{ type: "checkbox" }
          %p.signup-form__password-open-text 
          パスワードを表示する
        .signup-form
          %h3.signup-form__identification
            本人確認
          %p.signup-form__explanation
            安心・安全にご利用いただくために、お客さまの本人
            %br/
            情報の登録にご協力ください。他のお客さまに公開さ
            %br/
            れることはありません。

        .signup-form
          %label.signup-form__label
            お名前(全角)
          %span.signup-form__span
            必須
          %br
          = f.text_field :family_name, class: 'signup-form__login-input2', placeholder: "例)山田"
          = f.text_field :first_name, class: 'signup-form__login-input2', placeholder: "例)彩"

        .signup-form
          %label.signup-form__label
            お名前カナ(全角)
          %span.signup-form__span
            必須
          %br
          = f.text_field :family_name_kana, class: 'signup-form__login-input2', placeholder: "例)ヤマダ"
          = f.text_field :first_name_kana, class: 'signup-form__login-input2', placeholder: "例)アヤ"


        .signup-form
        .signup-form__label
          = f.label :birthday
          %span.signup-form__span
            必須
          %br
          .signup-form__birthday-form
            .signup-form__birthday-form__select
              = f.select :birthday_year,["--"], {}, {class: "birthday_birthday_1i", id:"select_birth_year"}
              %label
                年
              = f.select :birthday_month,["--"], {}, {class: "birthday_birthday_2i", id:"select_birth_month"}
              %label
                月
              = f.select :birthday_day,["--"], {}, {class: "birthday_birthday_3i", id:"select_birth_day"}
              %label
                日
            %br/
            ※本人情報は正しく入力してください。会員登録後、
            %br/
            修正するにはお時間を頂く場合があります。
          = f.submit class: 'signup-form__login-btn', value: "次へ進む"
        
= render 'layouts/sellfooter'
