.wrapper
  = render 'side_bar'
  .main-content 
    .account-information
      .account-information__image
        = image_tag 'member_photo_noimage_thumb.png'
      .account-information__list
        ユーザー : 
      .account-information__list
        出品数 : 
    .item
      .item__exhibit
        .item__exhibit__title
          出品した商品
        .item__exhibit__list
          .item__exhibit__list__content
            = link_to '#' do
              .item__exhibit__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__exhibit__list__content__information
                .item__exhibit__list__content__information__name
                  ee
                .item__exhibit__list__content__information__price
                  1000円
          .item__exhibit__list__content
            = link_to '#' do
              .item__exhibit__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__exhibit__list__content__information
                .item__exhibit__list__content__information__name
                  ee
                .item__exhibit__list__content__information__price
                  1000円
          .item__exhibit__list__content
            = link_to '#' do
              .item__exhibit__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__exhibit__list__content__information
                .item__exhibit__list__content__information__name
                  ee
                .item__exhibit__list__content__information__price
                  1000円
          .item__exhibit__list__content
            = link_to '#' do
              .item__exhibit__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__exhibit__list__content__information
                .item__exhibit__list__content__information__name
                  ee
                .item__exhibit__list__content__information__price
                  1000円
      .item__purchase
        .item__purchase__title
          購入した商品
        .item__purchase__list
          .item__purchase__list__content
            = link_to '#' do
              .item__purchase__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__purchase__list__content__information
                .item__purchase__list__content__information__name
                  ee
                .item__purchase__list__content__information__price
                  1000円
          .item__purchase__list__content
            = link_to '#' do
              .item__purchase__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__purchase__list__content__information
                .item__purchase__list__content__information__name
                  ee
                .item__purchase__list__content__information__price
                  1000円
          .item__purchase__list__content
            = link_to '#' do
              .item__purchase__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__purchase__list__content__information
                .item__purchase__list__content__information__name
                  ee
                .item__purchase__list__content__information__price
                  1000円
          .item__purchase__list__content
            = link_to '#' do
              .item__purchase__list__content__image
                = image_tag 'IMG_9072.jpeg'
              .item__purchase__list__content__information
                .item__purchase__list__content__information__name
                  ee
                .item__purchase__list__content__information__price
                  1000円 