.wrapper

  .display
    = form_for @product do |f|
      .header
        = link_to root_path do
          = image_tag("logo.png", height: '50px', width: '185px', class: "header__icon")
        
      .product
        .product__box
          .product__box__form-label
            %label.product__box__form-label__title
              商品画像
            %span.product__box__form-label__item
              必須
          %p.product__box__number-sheets
            .product__box__photo-box
              最大10枚までアップロード出来ます
          .image-box#img-box
            .img-num-0#img-preview
            = f.fields_for :images, @product.images.build do |i|
              .product__box__photo
                = i.file_field :image, class: 'input-btn', type: 'file', style: "display:none", id:"img-file"#このid:image-fileの "中" にjsを全て組んでいる
                %label{for: "img-file"}
                  %i.fas.fa-camera{class: 'icon-camera'}
                %p.product__box__photo__lin
                  クリックして画像をアップロード
       
        .product__box
          .product__box__form-label
            %label.product__box__form-label__title
              商品名
            %span.product__box__form-label__item
              必須
            = f.text_field :name, class: "product__box__name", placeholder: '商品名を入力してください'
            

          .product__box__form-label
            %label.product__box__form-label__title
              商品の説明
            %span.product__box__form-label__item
              必須
          
            = f.text_area :comment, class: "product__box__explanation", placeholder: '商品の説明（必須 1,000文字以内）(色、素材、重さ、定価、注意点など)&#13;例)2019年に購入したキャップです、1度被っただけで傷も汚れもありません'
            
              
              
            
        
        .product__box
          %p.product__box__genre
            商品の詳細
          .product__box__form-label
            %label.product__box__form-label__title
            カテゴリー
            %span.product__box__form-label__item
              必須
          .product__box__category
            = f.select :category_id, [["レディース", 1], ["メンズ", 1], ["キッズ", 1]], include_blank: "選択して下さい"

          .product__box__form-label
            %label.product__box__form-label__title
              ブランド
            %span.product__box__form-label__item__gray
              任意
            = f.text_field :brand, class: "product__box__brand", placeholder: '例)スノーピーク'

          .product__box__form-label
            %label.product__box__form-label__title
              商品の状態
            %span.product__box__form-label__item
              必須
          .product__box__status
            = f.select :status, [["未使用/新品", "未使用/新品"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"]], include_blank: "選択して下さい"
        .product__box
          %p.product__box__genre
            配送について
          .product__box__form-label
            %label.product__box__form-label__title
              配送料の負担
            %span.product__box__form-label__item
              必須
          .product__box__shiping-charge
            = f.select :shippingcharge, [["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]], include_blank: "選択して下さい"
          .product__box__form-label
            %label.product__box__form-label__title
              発送地域
            %span.product__box__form-label__item
              任意
            = f.select :area, options_for_select(Product.areas.keys), class: 'product__box__area', include_blank: "選択して下さい"
              

          .product__box__form-label
            %label.product__box__form-label__title
              発送までの日数
            %span.product__box__form-label__item
              必須
          .product__box__days
            = f.select :days, [["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], include_blank: "選択して下さい"


        .product__calculation-box
          %p.product__box__genre
            価格 (¥300~¥9,999,999)
          .product__calculation-box__band
            .product__box__form-label
              %label.product__box__form-label__title
                販売価格
              %span.product__box__form-label__item
                必須
            .product__calculation-box__band__price
              = f.number_field :price
            %span.product__calculation-box__band__price__icon
              ¥ 
              
              
        .product__sales-commission
          .product__sales-commission__label
            販売手数料 (10%)
          %span.product__sales-commission__number
            ¥100
        .product__sales-profit
          .product__sales-profit__label
            販売利益
          %span.product__sales-profit__number
            ¥900
        .product__send
          = f.submit '出品', class: 'product__send__sell'
          %button.product__send__save
            保存
          = link_to 'もどる', "#", class: "product__send__redirect"
                


= render 'layouts/topagefooter'